<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
    body
        ul
            li
                a(href="/") 主页
            li
                a(href="/movies") 电影
            li
                a(href="/videos") 视频
            li
                a(href="/games") 游戏
        
        block content