<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<app></app>
	</div>
	<script src="../../script/vue.js"></script>
	<script>
		var bus = new Vue();

		Vue.component("app",{
			template:`
				<div>
					<myform></myform>
					<list></list>
				</div>
			`
		})

		Vue.component("list",{
			template:`
				<ul>
					<li v-for="fruit in fruits">{{fruit}}</li>
				</ul>
			`,
			data:function(){
				return {
					fruits:["香蕉","苹果","鸭梨"]
				}
			},
			mounted:function(){
				var self = this;
				bus.$on("insert",function(data){
					self.fruits.push(data);
				});
				
			}
		})

		Vue.component("myform",{
			template:`
				<form v-on:submit.prevent="insert">
					<input type="text" v-model="fruit" />
					<input type="submit" value="添加" />
				</form>
			`,
			methods:{
				insert:function(){
					bus.$emit("insert",this.fruit);
				}
				
			}
		})

		new Vue({
			el:"#app"
		})
	</script>
</body>
</html>