<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../style/bootstrap.css">
	<style>
		
	</style>
</head>
<body>
	<div id="app">
		<div class="col-md-6">
			<h2>商品列表</h2>
			<table class="table table-bordered">
				<thead>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
					<th>添加至购物车</th>
				</thead>
				<tbody>
					<tr v-for="(val,index) in goodsList">
						<td>{{val.name}}</td>
						<td>{{val.price}}</td>
						<td>
							<button v-on:click="sub(index)">-</button>
							<span>{{val.count}}</span>
							<button v-on:click="add(index)">+</button>
						</td>
						<td>
							<button v-on:click="insert(index)" class="btn btn-primary">添加购物车</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<h2>购物车</h2>
			<table class="table table-bordered">
				<thead>
					<th>商品名称</th>
					<th>商品单价</th>
					<th>商品数量</th>
					<th>删除</th>
				</thead>
				<tbody>
					<tr v-for="(val,index) in shoppingCart">
						<td>{{val.name}}</td>
						<td>{{val.price}}</td>
						<td>
							<button v-on:click="cartSub(index)">-</button>
							<span>{{val.count}}</span>
							<button v-on:click="cartAdd(index)">+</button>
						</td>
						<td>
                			<button class="btn btn-primary">删除</button>
           				</td>
					</tr>

				</tbody>
			</table>
			<button class="btn btn-success">结账</button>
		</div>
	</div>
	<script src="../../script/vue.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				goodsList:[
					{
						name:"香蕉",
						price:10.5,
						count:0
					},
					{
						name:"苹果",
						price:5.7,
						count:0
					},
					{
						name:"鸭梨",
						price:2.1,
						count:0
					}
				],
				shoppingCart:[
					
				]
			},
			methods:{
				add:function(i){
					this.goodsList[i].count++;
				},
				sub:function(i){
					if(this.goodsList[i].count>0){
						this.goodsList[i].count--;
					}
				},
				cartAdd:function(i){
				    this.shoppingCart[i].count++;
				},
				cartSub:function(i){
				    if(this.shoppingCart[i].count>1){ //购物车数量了不能为0
				        this.shoppingCart[i].count--;
				    }
				},
				clone:function(obj){
					var newobj = {};
					for(var i in obj){
						newobj[i] = obj[i]
					}
					return newobj;
				},
				insert:function(index){
					if(this.goodsList[index].count === 0){
						alert("请选择数量！");
						return;
					}
					for(var i = 0;i<this.shoppingCart.length;i++){
						if(this.goodsList[index].name === this.shoppingCart[i].name){
							this.shoppingCart[i].count += this.goodsList[index].count;
							return;
						}
					}
					var newgoods = this.clone(this.goodsList[index])
					this.shoppingCart.push(newgoods);
				}
			}
		})
	</script>
</body>
</html>